#app
	[v-cloak]
		display: none;

	.fade-enter-active, .fade-leave-active 
		transition: opacity .5s
	
	.fade-enter, .fade-leave-active
		opacity: 0

	.component-fade-enter-active, .component-fade-leave-active
	  	transition: opacity .3s ease

	.component-fade-enter, .component-fade-leave-active
	  	opacity: 0

	.slide-fade-enter-active
		transition: all .3s ease

	.slide-fade-leave-active
		transition: all .3s ease

	.slide-fade-enter, .slide-fade-leave-active
		padding-right: 10px
		opacity: 0

	.item
		display: flex !important
		justify-content: center
		align-items: center

		#increment-btn, #decrement-btn
			margin: auto